      <!-- breadCrumbs -->
      <div class="piece" id="breadCrumbs">
      <div class="pieceContainer">
      <div class="pieceBody">
        <div>
          <a href="/">TOP</a> &gt; <a href="/gis/category/">分野</a><%if @category%> &gt; <a href="/gis/category/<%=@category%>"><%=@class_title%></a><%end%>
        </div>
      </div>
      </div>
      <!-- end .piece --></div>