<div id="menu">
<div id="menuContainer">
<div id="menuBody">
<%= render_show_cache("related_link_top", '/gis/public/common/related_link',{:kind=>"front", :category=>"top"}) %>
</div>
<!-- /menuBody -->
<!-- end #menuContainer --></div>
<!-- end #menu --></div>