<span class="actionMenu">
<% case params[:action] %>
<% when 'index' %>
  <%= link_to '新規登録', new_system_user_path %>
<% when 'show' %>
  <%= link_to '編集', {:action => :edit} %>
  <%= link_to '削除', {:action => :destroy}, :method => :delete, :confirm => '削除してよろしいですか？'%>
<% end %>
</span>
