
<div class="piece" id="breadCrumbs">
  <div class="pieceContainer">
  <div class="pieceBody">
<div>
  <%=link_to "トップページ", "/#{@map.code}/"%> &gt; <%=link_to "お問い合わせ", "/#{@map.code}/inquiry.html"%>
    </div>
  </div>
</div>
</div>
