<div id="contentPage">
<div class="body">

<h2>このサイトに関するお問い合わせ</h2>
<%=show_site_settings[:site_inquiry]%>
</div>
<div class="footer">
<p>※お問い合わせは、出来る限り電子メールでお願いいたします。</p>
<p>また、回答にはお時間をいただく場合がございます。</p>
</div>
</div>
