<div id="recentDocs">
  <div class="recentDocsTitle">更新情報</div>
  <div class="contentArticleRecentDocs">
    <div class="docs">

        <%if @items.blank?%>
        <li>更新情報はありません。</li>
        <%else%>
        <%
        date_str = ""
        for item in @items
        if date_str.blank?
          date_str = item.published_at.strftime("%Y-%m-%d")%>
          <h2 class="date"><%=date_str%></h2>
          <ul>
        <%else
          if date_str != item.published_at.strftime("%Y-%m-%d")
            date_str = item.published_at.strftime("%Y-%m-%d")
        %>
          </ul>
          <h2 class="date"><%=date_str%></h2>
          <ul>
          <%end%>
        <%end%>
        <li><%=link_to item.title, portal_doc_url(@map, item)%></li>
        <%end%>
        </ul>
        <%end%>

    </div>

    <%=paginate @items%>
  </div>
</div>