

<%unless short_messages.blank?%>
<div id="info" class="piece">
  <div class="pieceContainer">
    <div class="pieceHeader"><h2>お知らせ</h2></div>
    <div class="pieceBody">
      <% short_messages.each_with_index do |msg, ind|
         next if msg.blank?%>
          <div class="info"><%= msg.html_safe %></div>
        <% end%>
    </div>
  </div>
</div>
<% end%>



