
<div id="contentPage">
<div class="pieceHeader">このサイトについて</div>
<div class="pieceBody">
  <p>○○○○○○○○○○○○○○○○○○</p>
  <p>○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○</p>
  <p>○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○</p>
</div>
</div>