<div id="contentArticleDoc">
<div class="header">
  <h1>地図情報のご利用方法</h1>
  </div>
<div class="body">
        <h2>各マップのご利用上の注意について</h2>



        <p>各マップのご利用上の注意は、地図表示領域右下のリンクをクリックすることで再度表示することが可能です。</p>

        <p><img src="/options/help_images/image022.png"></p>


        <p>&nbsp;</p>
        <h2>凡例について</h2>


        <p>地図表示領域右上の「凡例」ボタンをクリックすることで、現在有効になっているレイヤーの凡例を参照できます。</p>

        <p><img src="/options/help_images/image020.png"></p>




        <p>&nbsp;</p>
        <h2>透過度について</h2>



        <p>地図に画像を重ねるタイプのレイヤーは、地図表示領域下の透過度バーで透過度を変更することが可能です。</p>

        <p><img src="/options/help_images/image021.jpg"></p>
        <p>&nbsp;</p>
        <p style="color: #FF0000">透過度の変更対象は、最後にチェックボックスをクリックして有効にしたレイヤーとなります。</p>


        <p>&nbsp;</p>
        <h2>背景地図について</h2>
        <p>地図表示領域右上の背景地図パネルを操作することで、地図情報の背景を変更できます。</p>

        <p><img src="/options/help_images/image002.png"></p>
        <p>&nbsp;</p>
        <p>背景地図パネルは開閉ボタンをクリックすることで折りたたみが可能です。</p>

        <p>        <img src="/options/help_images/image003.png"></p>

        <p>&nbsp;</p>
        <h2>地名検索</h2>

        <p>住所から該当する位置情報を表示します。</p>
        <p>対象は日本国内のみ、「町」までの検索となります。「地名検索」タブをクリックすると、地名検索用ツールを表示できます。</p>
        <p><img src="/options/help_images/image036.png"></p>
        <p>&nbsp;</p>
        <p>テキストフィールドに住所を入力し、「送信」をクリックしてください。</p>

        <p><img src="/options/help_images/image037.png"><img src="/options/help_images/image038.png"></p>
        <p>&nbsp;</p>
        <p>該当する住所一覧が表示されます。</p>

        <p><img src="/options/help_images/image047.png"></p>
        <p>&nbsp;</p>
        <p>住所のリンクをクリックすると、地図上のそのポイントに移動して目印として赤いピンが表示されます。</p>

        <p><img src="/options/help_images/image048.png"></p>


        <p>&nbsp;</p>
        <h2>レイヤー追加</h2>

        <p>他の地図からレイヤーを取得し、現在の地図の上に重ねて表示することができます。</p>
        <p>レイヤーメニュー下部の「追加レイヤー登録」をクリックすると、レイヤー追加のためのメニューが表示されます。</p>

        <p><img src="/options/help_images/image046.png"></p>
        <p>&nbsp;</p>
        <p>追加したいレイヤーが存在する地図の名称をクリックします。</p>

        <p><img style="width: 600px;" src="/options/help_images/image040.png"></p>
        <p>&nbsp;</p>
        <p>フォルダ一覧のプルダウンの選択肢がその地図に登録されているフォルダの一覧になりますので、利用したいレイヤーのあるフォルダを選択します。</p>

        <p><img style="width: 600px;" src="/options/help_images/image041.png"></p>
        <p>&nbsp;</p>
        <p>利用したいレイヤーを選択し、「＞＞」ボタンをクリックします。</p>

        <p><img style="width: 600px;" src="/options/help_images/image043.png"></p>
        <p>&nbsp;</p>
        <p>「登録」をクリックするとレイヤーが地図に追加されます。</p>

        <p><img style="width: 600px;" src="/options/help_images/image044.png"></p>
        <p>&nbsp;</p>
        <p><img src="/options/help_images/image045.png"></p>
        <p>&nbsp;</p>
        <h2>ミニマップ</h2>

        <p>地図表示領域の右下には、現在表示している地図の概略地図（ミニマップ）が表示されています。</p><p>ミニマップ内の赤枠は、現在表示されている領域を示しています。</p>

        <p><img src="/options/help_images/image013.jpg"></p>
        <p>&nbsp;</p>
            <p>ミニマップは開閉ボタンをクリックすることで折りたたみが可能です。</p>

        <p><img src="/options/help_images/image014.jpg"></p>
        <p>&nbsp;</p>
        <p><img src="/options/help_images/image015.jpg"></p>
        <p>&nbsp;</p>

        <h2>レイヤーについて</h2>



        <p>画面左のレイヤーパネルを操作することで、地図に任意の情報を重ねて表示することが可能です。</p>

        <p><img src="/options/help_images/image017.png"></p>
        <p>&nbsp;</p>
        <p>レイヤーはフォルダでグルーピングされているものもあり、フォルダ左のチェックボックスで一括選択／解除が可能です。</p>

        <p><img style="width: 400px;" src="/options/help_images/image019.png"></p>
        <p>&nbsp;</p>
        <h2>地図ツールバーについて</h2>
        <h3>エリア選択</h3>

        <p>選択した地域に地図の中心点を移動します</p>

        <p><img src="/options/help_images/image029.png"></p>



        <h3>印刷</h3>

        <p>現在表示している地図の印刷用ウィンドウを表示します</p>

        <p><img src="/options/help_images/image030.png"></p>



        <h3>作図</h3>

        <p>地図上に線、図形、円等の図を作図するためのツールを表示します</p>

        <p><img src="/options/help_images/image031.png"></p>



        <h3>リンク</h3>

        <p>現在表示している地図をメールやチャット等で共有できるURLを表示します。</p>

        <p><img src="/options/help_images/image032.png"></p>



        <h3>計測</h3>

        <p>地図上で距離及び面積を計測するためのツールを表示します</p>

        <p><img src="/options/help_images/image033.png"></p>

        <h3>出力</h3>

        <p>オープンデータに対応したレイヤーのデータ出力のためのツールを表示します</p>

        <p><img src="/options/help_images/image034.png"></p>

        <h3>ヘルプ</h3>

        <p>地図情報のご利用方法に関するヘルプを表示します</p>

        <p><img src="/options/help_images/image035.png"></p>



        </div>
        </div>