<div id="contentPage">
        <div class="pieceHeader">ご利用方法等</div>
        <div class="pieceBody">
          <div class="howto">
          <h2>本サイトについて</h2>
          <h3>概要</h3>
          <p>Joruri Mapsは、地図の総合ポータルとして利用者の皆様に各種の地図サービスをワンストップで提供するオープンソースソフトウェアです。<br />
また、このシステムでは、色々な地図を重ねて表示したり、各種の便利な機能を用意しましたので、是非、ご活用いただきますようお願いいたします。</p>
          <h3>地図情報へのリンク</h3>
          <p>各カテゴリページから、それぞれの関連地図情報へリンクしています。<br />
          地図情報の提供状況は、以下のアイコンで種別されています。</p>
          <div class="iconInfo">
          <p class="no1">システム内に地図情報が提供されている。</p>
          <p class="no2">システム外の添付ファイルによる地図情報が提供されている。</p>
          <p class="no3">システム外サイトの地図情報ページへリンクされている。</p>
          </div>
          <h3>地図情報のご利用方法</h3>
          <p>各地図情報の「ご利用上の注意」を確認し、同意した上でご利用下さい。<br />
          操作については地図情報のヘルプを参照してください。<br />
          ※システム外の情報については、それぞれの管理者にお問い合わせ下さい。</p>
          <p>&nbsp;</p>
          <h2>ご利用できる環境について</h2>
          <h3>オペレーティングシステム</h3>
          <ul>
          <li>Windows Vista 以上 （Windows 7 を推奨）</li>
          <li>Mac OS X</li>
          <li>Android OS 4 以上</li>
          <li>iOS 5 以上</li>
          </ul>
          <h3>ブラウザ</h3>
          <ul>
          <li>Internet Explorer 9以上</li>
          <li>Mozilla Firefox 25以上</li>
          <li>Google Chrome</li>
          </ul>
          <p>&nbsp;</p>
          <h2>スマートフォンからのご利用</h2>
          <p>スマートフォンからのご利用が可能です。<br />
          以下のQRコードを読み込むか、URLを入力してアクセスしてください。</p>
          <div class="smartInfo">
            <%=image_tag(portal_qr_code(Core.full_uri, 80), :title=>"QRコード", :alt=>"QRコード")%>
          <%=Core.full_uri%>
          </div>
          <p>※対応するオペレーティングシステムを確認してください。<br />
          ※ご利用できる環境であっても、すべての端末での動作を保証するものではありません。</p>
          <p>&nbsp;</p>
          <h2>注意事項等について</h2>
          <h3>注意事項について</h3>
          <p>
            (1) 本システムで提供する情報については、土地・建物等の境界を示すものではありません。また、表示の有無・表示位置・範囲・形状・名称等について、現況との誤差があることをあらかじめ理解した上でご利用ください。<br />
            (2) 本システムで提供する情報については、利用者の権利又は義務の証明、手続・届出の資料等、利用者の特定の目的に適合することを保証するものではありません。<br />
            (3) 地図で表示する情報については、その情報の更新に努めていますが、データ作成時及び更新の時期により現状と異なる場合があります。<br />
            (4) ブラウザ及びインターネットへの接続環境によっては、一部の表示・機能が制限される場合があります。<br />
            (5) 表示する地図情報の種類によっては、大量のデータ通信を行うため、表示するまでに時間がかかる場合があります。<br />
            (6) 地図情報を複数重ねた場合、色が重複し正確な情報を得ることが難しくなるほか、縮尺によっては表示されない情報が存在しますので、閲覧の際は注意してください。<br />
          </p>
          <h3>免責事項について</h3>
          <p>
            (1) 本システムを利用することで利用者又は第三者に生じた一切の損害及び障害等については、ソフトウェア開発製作者、地図データ・画像・写真等製作者はその責任を負いません。<br />
            (2) 本システムを予告なく変更又は一時停止もしくは完全に終了する場合があります。<br />
            (3) 本システムには第三者が管理するウェブサイトへのリンクが含まれる場合があります。お客様はご自身の責任においてこれらのウェブサイトのコンテンツを利用されるものとします。<br />
          </p>
          <h2>ライセンスについて</h2>
          <h3>出力データのライセンスについて</h3>
          <p>
            <a rel="license" href="http://creativecommons.org/licenses/by/2.1/jp/"><img alt="クリエイティブ・コモンズ・ライセンス" style="border-width:0" src="http://i.creativecommons.org/l/by/2.1/jp/88x31.png" /></a>
            <br />本システムの「データ出力」機能によって提供されるデータは <a rel="license" href="http://creativecommons.org/licenses/by/2.1/jp/">クリエイティブ・コモンズ 表示 2.1 日本 ライセンスの下に提供されています。</a>
            <br />二次著作物を作成する際は、利用するデータの出典の表示をお願いします。<br />
          </p>
          </div>
        </div>
      </div>