<div id="contentPage">
<div class="pieceHeader">ご利用案内</div>
<div class="pieceBody">
  <div class="howto">
    <p>閲覧者が特別なソフトウェアをダウンロードしなくても、ホームページ最上段に位置する各機能のアイコンをクリックするだけで、ホームページの文字サイズの変更、背景色の変更、ふりがなの表示が行えます。<br> ご利用になりたい機能のアイコンをクリックするだけで、ホームページを快適にお使いになれます。</p>
    <h2>文字サイズ変更機能</h2>
    <p>文字の大きさを変更することで、文字を見やすくします。</p>
    <table summary="文字サイズ変更機能" class="use">
    <tbody>
    <tr><th scope="row">小さく</th>
    <td>文字サイズを小さくします。</td>
    </tr>
    <tr><th scope="row">標準</th>
    <td>標準の文字サイズにします。</td>
    </tr>
    <tr><th scope="row">大きく</th>
    <td>文字サイズを大きくします。</td>
    </tr>
    </tbody>
    </table>
    <h2>背景色変更機能</h2>
    <p>背景色を変更することで、文字を見やすくします。</p>
    <table summary="背景色変更機能" class="use">
    <tbody>
    <tr><th scope="row">白</th>
    <td>標準色</td>
    </tr>
    <tr><th scope="row">青</th>
    <td>背景色を青色にします。</td>
    </tr>
    <tr><th scope="row">黒</th>
    <td>背景色を黒色にします。</td>
    </tr>
    </tbody>
    </table>
    <h2>ふりがな機能</h2>
    <table summary="ふりがな機能" class="use">
    <tbody>
    <tr><th scope="row">ふりがなをつける</th>
    <td>漢字にふりがなをつけて、文字を読みやすくします。</td>
    </tr>
    </tbody>
    </table>
    <p><strong>ふりがなは、システムにより自動的に生成しています。<br> 人名、地名、用語などが、正確に表記されない場合がありますので、ご了承ください。</strong></p>          </div>
</div>
</div>