<div id="header">
<div id="headerContainer">
<div id="headerBody">
<div class="piece">
<div class="rightMenu">
    <%if @map%>
    <%=image_tag(map_icon_uri(@map))%>
  <h1><%=safe{@map.title}-%></h1>
  <span class="department"><%=safe{@map.department}-%></span>
   <%end%>
</div>
</div>
</div>
</div>
</div>
<div id="footer">
<div id="footerContainer">
<div id="footerHeader"></div>
<div id="footerBody">
<div id="footer">
<div id="footerContainer">
<div id="footerHeader"></div>
<div id="footerBody">
<div class="copyright">
  <span><%=show_site_settings[:copyright]%></span>
  <a target="_blank" href="http://joruri.org"><img src="/_common/themes/gis/images/bn_pb_jorurimap.png" /></a>
</div>
</div>
<div id="footerFooter"></div>
</div>
</div>