<?xml version='1.0' encoding='UTF-8'?>
<items>
  <item>
    <id><%=@item.id%></id>
    <title><%=@item.title%></title>
    <caption><%=@item.caption%></caption>
    <file_uri><%=@item.file_uri%></file_uri>
  </item>
</items>

