<div class="copyright">
  <a target="_blank" href="http://joruri.org"><img src="/_common/themes/gis/files/powered.gif" /></a>
  <%= link_to '接続情報', {:controller => '/system/admin/siteinfo'}, :class => 'siteinfo', :target => '_blank' %>
</div>
