<div class="tabMenu">
<%= link_to '組織変更',  {:controller => 'system/admin/group_changes'}, :class => current_class(current, :changes) -%>
<%= link_to '開始日設定',  {:controller => 'system/admin/group_change_dates'}, :class => current_class(current, :dates) -%>
</div>
