<div class="tabMenu">
<%= link_to('関連リンク管理',  {:controller => 'system/admin/related_links'}, :class => current_class(current, :related_links)) -%>
<%= link_to('バナー管理',  {:controller => 'system/admin/link_banners'}, :class => current_class(current, :link_banners)) -%>
</div>
