@charset "UTF-8";

#toogle-menu {
  display: none;
}

/*=============================================================
 タブレット・スマホ向けスタイル
=============================================================*/
body {
  margin: 0;
  padding: 0;
  border: 0 none;
}

/*------------------------------------------------
 a-tool
------------------------------------------------*/
#a-tool {
  display: none;
}

/*------------------------------------------------
 container
------------------------------------------------*/
#container {
  margin: 0 auto;
}

/*------------------------------------------------
 header
------------------------------------------------*/

/*----- headerBody -----*/

#headerContainer {
  border-bottom: 1px solid #999;
}
#headerBody {
  background: #e4e1dd; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNGUxZGQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #ffffff 0%, #e4e1dd 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e4e1dd)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#e4e1dd 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffffff 0%,#e4e1dd 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffffff 0%,#e4e1dd 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ffffff 0%,#e4e1dd 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e4e1dd',GradientType=0 ); /* IE6-8 */
  position: relative;
}
#headerBody .pieceBody {
  position: relative;
  overflow: hidden;
}
.logo {
  float: left;
  display: table-cell;
  width: 70%;
  margin-top: 15px;
  margin-left: 10px;
  margin-bottom: 10px;
}
.logo img {
  float: left;
}
.logo h1 {
  padding-top: 3px;
  padding-left: 10px;
  font-size: 200%;
  font-weight: bold;
  overflow: hidden;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
.logo h1 {
  padding-top: 7px;
}
}
.logo h1 a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}
.logo img {
  width: 100%;
  max-width: 45px;
  height: auto;
}
.logo span.department {
  display: none;
}
.menu {
  position: absolute;
  right: 5px;
  bottom: 5px;
}
.upperMenu {
  display: none;
}
.lowerMenu a {
  display: block;
  width: 32px;
  height: 0;
  padding-top: 32px;
  border: 1px solid #767676;
  border-radius: 3px;
  background: url(../../images/ic/ic-arrow_01.png) center center no-repeat #fff;
  overflow: hidden;
}
.lowerMenu a.toiawase,
.lowerMenu a.siteMap {
  display: none;
}

/*------------------------------------------------
 main
------------------------------------------------*/
#main {
  clear: both;
  margin-top: 20px;
}

#wrapper {
  margin-bottom: 30px;
}


/*------------------------------------------------
 footer
------------------------------------------------*/
#footer {
  clear: both;
  border-top: solid 1px #d6d6d6;
  border-bottom: solid 1px #d6d6d6;
}
#copyRight {
  padding: 13px 15px;
  text-align: left;
  overflow: hidden;
}
#copyRight .pieceBody {
  margin-bottom: 10px;
}