<%
controller_title = translate_controller
action_title = translate_action
%>
<div class="titleLine">
  <span class="title"><%= "#{controller_title} #{action_title}" %></span>
  <%= render :partial => 'action_menu' %>
</div>
