<!-- skip reading -->
<div id="a-tool">
<div id="a-toolContainer">
<div id="a-toolBody">
<div class="piece"  id="a-toolHeader">
<div class="pieceContainer">
<div class="pieceBody">
<script type="text/javascript" src="/_common/js/joruri/cookie.js"></script>
<script type="text/javascript" src="/_common/js/joruri/accessibility-navi.js"></script>
<span id="nocssread">
<a href="#main">本文へ移動</a>
</span>
<span class="section font-size naviFont">
<span class="sectionTitle label">文字サイズ</span>
<span title="文字を小さく" class="small">小さく</span>
<span title="標準サイズ" class="base">標準</span>
<span title="文字を大きく" class="big">大きく</span>
</span>
<span class="riyou">
<a title="ご利用案内" href="/gis/use.html">ご利用案内</a>
</span>

<span class="section naviTheme">
<span class="sectionTitle label">背景色</span>
<span title="白背景" class="white">白</span>
<span title="青背景" class="blue">青</span>
<span title="黒背景" class="black">黒</span>
</span>

<span class="section naviRuby">
<span title="ふりがなをつける" class="ruby">ふりがなをつける</span>
<span id="navigationTalkPlayer"></span>
</span>


</div>
</div>
</div>
<!-- /skip reading -->
<!-- end #a-toolBody --></div>
<!-- end #a-toolContainer --></div>
<!-- end #a-tool --></div>