<div id="footer">
<div id="footerContainer">
<div id="footerHeader"></div>
<div id="footerBody">
<div class="copyright">
  <span><%=show_site_settings[:copyright]%></span>
  <a target="_blank" href="http://joruri.org"><img src="/_common/themes/gis/images/bn_pb_jorurimap.png" /></a>
</div>
</div>
<div id="footerFooter"></div>
</div>
</div>