<!-- footer -->
<div id="footer">
<div id="footerContainer">
<div id="footerBody">
    <div class="piece" id="copyRight">
      <div class="pieceContainer">
        <div class="pieceBody">
        <%=show_site_settings[:copyright]%>
        </div>
        <div class="pieceFooter">
        <a href="http://joruri.org/" target="_blank"><img src="/_common/themes/gis/images/main/bn_pb_jorurimap.png" alt="Joruri公式サイト"></a>
        </div>
      </div>
    </div>
  </div>
<!-- end #footerContainer --></div>
<!-- end #footer --></div>