
<div class="piece AdminMessage">

<div class="pieceBody">
<table class="show">
  <tr>
    <th>機能名</th>
    <td><%= @item.role.display_name %></td>
  </tr>
  <tr>
    <th>権限名</th>
    <td><%= @item.priv.display_name %></td>
  </tr>
</table>



</div>
</div>
