<div id="header">
<div id="headerContainer">
<div id="headerBody">
<div class="piece">
<div class="rightMenu">
    <%if @map%>
  <h1><%=image_tag(map_icon_uri(@map))%><%=safe{@map.title}-%></h1>
  <span class="department"><%=safe{@map.department}-%></span>
   <%end%>
</div>
</div>
</div>
</div>
</div>
<%= render :partial => 'layouts/public/gis/map_footer'  rescue nil%>

