
<div style="display: none;">
<div id="legendPanel_set"></div>
<div id="resultListTab">
  <%= render :partial =>  'result'  %>
  <div id="slideShow" style="display: none;"></div>
</div>
<div id="layerListTab">
  <%= render :partial =>  'layer' rescue nil %>
</div>
<div id="outPutFormDiv"></div>

<div id="outPutConfirmWinMessage">
  <h2>出力データのライセンスについて</h2>
  <a rel="license" href="http://creativecommons.org/licenses/by/2.1/jp/" target="_blank"><img alt="クリエイティブ・コモンズ・ライセンス" style="border-width:0" src="http://i.creativecommons.org/l/by/2.1/jp/88x31.png" /></a>
  <br />本システムの「データ出力」機能によって提供されるデータは <a rel="license" href="http://creativecommons.org/licenses/by/2.1/jp/" target="_blank">クリエイティブ・コモンズ 表示 2.1 日本 ライセンスの下に提供されています。</a><img src="/_common/themes/gis/images/ic/ic_gaibu.gif" alt="外部リンク"><br />
  二次著作物を作成する際は、利用するデータの出典の表示をお願いします。<br />
</div>
</div>
