<table class="show">
  <tr>
    <th><%= @item.locale(:name) %></th>
    <td><%= @item.name_label %></td>
  </tr><tr>
    <th><%= @item.locale(:value) %></th>
    <td><%= @item.value_label %></td>
  </tr>
</table>
