<h2><%= @item.locale(:assortments) %></h2>
<%if @folders.blank?%>
<%=div_notice("フォルダは登録されていません。")%>
<%else%>
<table class="index">
  <tr>
    <th style="width: ;">タイトル</th>
  </tr>
  <% for item in @folders %>
  <tr <%= cycle '', 'class=cycle' %>>
    <td><%= item.title %></td>
  </tr>
  <% end %>
</table>
<%end%>
