<div class="tabMenu">
<%= link_to 'レイヤー管理',  {:controller => '/gis/admin/layers'}, :class => current_class(current, :layers) -%>
<%= link_to 'フォルダ管理',  {:controller => '/gis/admin/folders'}, :class => current_class(current, :folders) -%>
</div>
