
<p>データ一覧をCSVファイルで登録します。</p>
<%= form_for(:item, :url => {:action => :csv_up}, :html => {:method => :post, :multipart => true}) do |f| %>
<%= hidden_field_tag :do, 'up' %>
<table class="show">
<tr>
  <th>ファイル</th>
  <td>
    <%= f.file_field :file, :accept=>".csv", :id=>"uploadFileFiled" %>
    <%= f.submit 'データ登録', :style => 'width: 120px;' %>
  </td>
</tr>
</table>
<% end %>

<script type="text/javascript">
//<![CDATA[
(function($) {

  $(".fileTypeSelect").change(function(e) {
    var val = $(this).attr("value");
    if(val=="csv"){
      $("#uploadFileFiled").attr("accept", ".csv");
    }else{
      $("#uploadFileFiled").attr("accept", ".zip");
    }
  });

})(jQuery);
//]]>
</script>
